@import "../Helpers/shared.scss";

form {
    height: 200px;
    width: 600px;
    margin: 1rem;
    @include borders;
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    input {
        height: 50px;
        padding: .5rem;
        margin: 1rem;
        @include borders;
    }
    button {
        @include button;
        @include borders;
        background-color: $dark-blue;
        color: $nearly-white;
        width: 100px;
        margin: 1rem;
    }
}