@import "../Helpers/shared.scss";

.todo {
    font-size: .8rem;
    margin: 1rem 0;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $nearly-white;
    @include md {
        font-size: 1rem;
        margin: 1rem .5rem;
    }
    @include borders;
    .todo-body {
        padding-left: .5rem;
    }
    .complete-delete {
        display: flex;
    }
}
.hide {
    display: none;
}
.complete,
.incomplete,
.delete {
    @include button;
    @include borders;
    margin: 0 .5rem;
    color: $nearly-white;
}
.complete, 
.incomplete {
    background-color: green;
}
.delete {
    background-color: red;
}
.strikethrough {
    text-decoration: line-through;
    color: $nearly-black;
}