@import "../Helpers/shared.scss";

.app-header {
    height: 10vh;
    background-color: $dark-blue;
    color: $nearly-white;
    display: flex;
    justify-content: center;
    align-items: center;
}