@import "../Helpers/shared.scss";

.footer-main {
    height: 10vh;
    width: 100%;
    background-color: $dark-blue;
    color: $nearly-white;
    display: flex;
    justify-content: center;
    align-items: center;
}